[submodule "deps/mcp-glib"]
	path = deps/mcp-glib
	url = git@gitlab.com:copyleft-games/mcp-glib.git
[submodule "aidocs/example-implementation"]
	path = aidocs/example-implementation
	url = https://github.com/signal-slot/mcp-gdb
